*{
    margin: 0;
    padding: 0;
}
body{
    background: #f2cda0;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 80%;
    margin: 50px;
}
.contact-box{
    background: gray;
    display: flex;
}
.contact-left{
 flex-basis: 60%;
 padding: 40px 60px; 

}
.contact-right{
    flex-basis: 40px;
    padding: 40px;
    background: blue;
    color: #fff;
}
h1{
    margin-bottom: 10px;

}
.container p{
    margin-bottom: 40px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.input-row .input-group{
    flex-basis: 45%;

}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
   
}

label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}
button{
    background: #1c00b5;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}

.contact-left h3{
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3{
   
    font-weight: 600;
    margin-bottom: 30px;
}
tr td :first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}
nav-links {
    position: relative;
    display: flex;
}

.nav-links ul {
    list-style: none;
    display: flex;
}

.nav-links ul li {
    margin: 0 15px;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links ul li a:hover {
    color: #6c773d;
}
@media (max-width: 2000px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    
    .nav-links {
        position: absolute;
        right: -200px;
        top: 0;
        height: 100vh;
        background-color: rgba(4, 30, 8, 0.9);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        width: 200px;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 0;
    }

    .nav-links ul li {
        margin: 20px 0;
    }

    .fa-bars {
        display: block; 
        color: white; 
        font-size: 28px; 
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px; 
        z-index: 1000; 
    }
    
    .fa-times {
        display: block;
        color: white;
        font-size: 22px;
        position: absolute;
        top: 20px; 
        right: 20px; 
        cursor: pointer; 
        z-index: 1001; 
    }
}